
.container {
/* background-color: #383838; */

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.navbar {
  position: fixed;
  width: 100%;
}
/* the next several items are for the menus of food items and their tables */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}

.column_left {
  flex: 47%;
  padding: 5px;
  margin-left: 3%
}
.column_right {
  flex: 47%;
  padding: 5px;
  margin-right: 3%
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
/* this is the end of the menus for food items */
